@import '../../assets/constants.scss';

.shopping-cart {
  position: relative;

  &__icon {
    cursor: pointer;
    height: 3.125rem;
    width: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__main-image {
    font-size: 1.875rem;
    font-family: 'Material Icons';
    color: $color-dark-shade-75;

    &:hover {
      color: $color-dark-shade-50;
    }
  }

  &__products-count {
    min-width: 1.25rem;
    max-width: 6.25rem;
    width: max-content;
    min-height: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 1.875rem;
    top: 0rem;
    background: red;
    border-radius: 1rem;
  }

  &__products-count-number {
    padding: 0.2rem 0.5rem;
    font-size: 0.625rem;
    color: white;
    word-break: break-all;
  }

  &__form {
    z-index: 99;
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0rem;
    padding: 1.325rem;
    background: white;
    border-radius: 0.25rem;
    box-shadow: 0rem 0.625rem 1.25rem rgba(31, 32, 65, 0.5);

    &_opened {
      display: flex;
    }

    @media screen and (max-width: 1400px) {
      right: auto;
      left: 0rem;
    }
    @media screen and (max-width: 470px) {
      width: max-content;
    }
  }

  &__selected-products-table {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content;
    grid-column-gap: 1.25rem;
    grid-row-gap: 0.625rem;
  }

  &__table-cell {
    max-width: 12.5rem;
    word-break: break-all;
    color: $color-dark-shade-75;
  }

  &__title-cell {
    color: $color-dark-shade-75;
    font-weight: bold;
  }

  &__cell-input {
    width: 6.25rem;
    font-size: 0.875rem;
    color: $color-dark-shade-75;
  }

  &__total-value {
    display: flex;
    padding: 0.9375rem 0.625rem;
    margin-top: 0.9375rem;
    border-radius: 0.625rem;
    background: $color-dark-shade-25;
    color: $color-dark-shade-100;

    &-text {
      width: max-content;
      margin-right: 1.25rem;
    }

    &-input {
      width: min-content;
      background: transparent;
    }
  }

  &__total-price {
    display: flex;
    padding: 0.9375rem 0.625rem;
    margin-top: 0.625rem;
    border-radius: 0.625rem;
    background: $color-dark-shade-25;
    color: $color-dark-shade-100;

    &-text {
      width: max-content;
      margin-right: 1.25rem;
    }
  }
}
