@import '../../assets/constants.scss';

.shopping-cart {
  position: relative;

  &__icon {
    cursor: pointer;
    height: 3.125rem;
    width: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__main-image {
    font-size: 1.875rem;
    font-family: 'Material Icons';
    color: $color-dark-shade-75;

    &:hover {
      color: $color-dark-shade-50;
    }
  }

  &__products-count {
    min-width: 1.25rem;
    max-width: 6.25rem;
    width: max-content;
    min-height: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 1.875rem;
    top: 0rem;
    background: red;
    border-radius: 1rem;
  }

  &__products-count-number {
    padding: 0.2rem 0.5rem;
    font-size: 0.625rem;
    color: white;
    word-break: break-all;
  }

  &__form {
    z-index: 99;
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0rem;
    padding: 1.325rem;
    background: white;
    border-radius: 0.25rem;
    box-shadow: 0rem 0.625rem 1.25rem rgba(31, 32, 65, 0.5);

    &_opened {
      display: flex;
    }
  }

  &__form-title {
    &-id {
      margin-right: 10px;
    }

    &-count {
      margin-right: 10px;
    }

    &-name {
      margin-right: 10px;
    }

    &-counter {
      margin-right: 0px;
    }
  }

  &__form-product {
    display: flex;
    flex-direction: row;
    padding: 0.625rem 0rem;
    border-bottom: 0.0625rem solid $color-dark-shade-50;

    &:first-of-type {
      border-top: 0.0625rem solid $color-dark-shade-50;
    }

    &-id {
      width: 3.125rem;
      height: 1.25rem;
      background: transparent;
    }

    &-count {
      width: 3.125rem;
      height: 1.25rem;
      margin-right: 40px;
      background: transparent;
    }

    &-name {
      margin-right: 2.625rem;
    }

    &-counter {
      width: max-content;
      margin-left: auto;
    }
  }

  &__total-value {
    display: flex;
    padding: 15px 10px;
    margin-top: 15px;
    border-radius: 10px;
    background: $color-dark-shade-25;

    &-text {
      width: max-content;
      margin-right: 20px;
    }

    &-input {
      width: 100px;
      margin-left: auto;
      background: transparent;
    }
  }

  &__total-price {
    display: flex;
    padding: 15px 10px;
    margin-top: 10px;
    border-radius: 10px;
    background: $color-dark-shade-25;

    &-text {
      width: max-content;
      margin-right: 20px;
    }

    &-value {
    }

    &-currency {
    }
  }
}
