.colored-logo {
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-self: end; }
  .colored-logo__logo-symbol {
    margin-right: 0.7813rem; }

.button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 1.375rem;
  background: linear-gradient(to bottom, #bc9cff, #8ba4f9); }
  .button__basis {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0rem;
    right: 0rem;
    top: 0rem;
    bottom: 0rem;
    margin: 0.125rem;
    color: white;
    background: transparent;
    text-decoration: none;
    border-radius: 1.375rem;
    outline: none; }
  .button > button {
    width: -webkit-fill-available; }
  .button__text {
    cursor: pointer;
    background: transparent;
    text-align: center;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase; }
  .button__arrow {
    cursor: pointer;
    width: 2.75rem;
    position: absolute;
    right: 0rem;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center; }
  .button__submit {
    cursor: pointer;
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
    z-index: 2; }
  .button:hover {
    background: linear-gradient(to bottom, rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5)); }
  .button_hollow > .button__basis {
    background: white; }
    .button_hollow > .button__basis > .button__text,
    .button_hollow > .button__basis > .button__arrow {
      color: #bc9cff; }

.product-counter {
  display: flex;
  justify-content: center;
  align-items: center; }
  .product-counter__minus-button, .product-counter__plus-button {
    cursor: pointer;
    min-width: 1.875rem;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 1.9375rem;
    border: 0.0625rem solid rgba(31, 32, 65, 0.5);
    background: transparent;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    text-transform: uppercase;
    color: #1f2041; }
  .product-counter__minus-button {
    opacity: 0.38; }
    .product-counter__minus-button_active {
      opacity: 1; }
  .product-counter__value {
    margin: 0rem 0.3125rem;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-align: center;
    text-transform: uppercase;
    color: #1f2041; }

.shopping-cart {
  position: relative; }
  .shopping-cart__icon {
    cursor: pointer;
    height: 3.125rem;
    width: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
  .shopping-cart__main-image {
    font-size: 1.875rem;
    font-family: 'Material Icons';
    color: rgba(31, 32, 65, 0.75); }
    .shopping-cart__main-image:hover {
      color: rgba(31, 32, 65, 0.5); }
  .shopping-cart__products-count {
    min-width: 1.25rem;
    max-width: 6.25rem;
    width: max-content;
    min-height: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 1.875rem;
    top: 0rem;
    background: red;
    border-radius: 1rem; }
  .shopping-cart__products-count-number {
    padding: 0.2rem 0.5rem;
    font-size: 0.625rem;
    color: white;
    word-break: break-all; }
  .shopping-cart__form {
    z-index: 99;
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0rem;
    padding: 1.325rem;
    background: white;
    border-radius: 0.25rem;
    box-shadow: 0rem 0.625rem 1.25rem rgba(31, 32, 65, 0.5); }
    .shopping-cart__form_opened {
      display: flex; }
    @media screen and (max-width: 1400px) {
      .shopping-cart__form {
        right: auto;
        left: 0rem; } }
    @media screen and (max-width: 470px) {
      .shopping-cart__form {
        width: max-content; } }
  .shopping-cart__selected-products-table {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content;
    grid-column-gap: 1.25rem;
    grid-row-gap: 0.625rem; }
  .shopping-cart__table-cell {
    max-width: 12.5rem;
    word-break: break-all;
    color: rgba(31, 32, 65, 0.75); }
  .shopping-cart__title-cell {
    color: rgba(31, 32, 65, 0.75);
    font-weight: bold; }
  .shopping-cart__cell-input {
    width: 6.25rem;
    font-size: 0.875rem;
    color: rgba(31, 32, 65, 0.75); }
  .shopping-cart__total-value {
    display: flex;
    padding: 0.9375rem 0.625rem;
    margin-top: 0.9375rem;
    border-radius: 0.625rem;
    background: rgba(31, 32, 65, 0.25);
    color: #1f2041; }
    .shopping-cart__total-value-text {
      width: max-content;
      margin-right: 1.25rem; }
    .shopping-cart__total-value-input {
      width: min-content;
      background: transparent; }
  .shopping-cart__total-price {
    display: flex;
    padding: 0.9375rem 0.625rem;
    margin-top: 0.625rem;
    border-radius: 0.625rem;
    background: rgba(31, 32, 65, 0.25);
    color: #1f2041; }
    .shopping-cart__total-price-text {
      width: max-content;
      margin-right: 1.25rem; }

.header {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto min-content min-content min-content;
  align-items: center;
  justify-items: start;
  padding: 0.9375rem 9.72222%;
  background: white;
  box-shadow: 0rem 0.625rem 1.25rem rgba(31, 32, 65, 0.05); }
  @media screen and (max-width: 1400px) {
    .header {
      display: grid;
      grid-template-columns: min-content;
      grid-template-rows: min-content 60px 60px max-content; } }
  @media screen and (max-width: 768px) {
    .header {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: min-content max-content 60px max-content;
      justify-content: flex-start; } }
  @media screen and (max-width: 550px) {
    .header {
      grid-template-rows: min-content max-content 120px max-content; } }
  .header__navigation-menu {
    margin-right: 1.25rem; }
    @media screen and (max-width: 768px) {
      .header__navigation-menu {
        margin-right: 0rem;
        margin-top: 1.25rem;
        margin-left: 0.3125rem;
        display: flex;
        flex-direction: column; } }
  .header__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .header__list {
        display: flex;
        flex-direction: column; } }
  .header__item {
    display: flex;
    align-items: center;
    margin: 0rem 0.625rem; }
    @media screen and (max-width: 768px) {
      .header__item {
        margin: 0.625rem 0rem; } }
    .header__item:first-child {
      margin: 0rem 0.625rem 0rem 0rem; }
      .header__item:first-child .header__item-ref {
        color: rgba(31, 32, 65, 0.75);
        font-weight: bold; }
      @media screen and (max-width: 768px) {
        .header__item:first-child {
          margin: 0rem 0rem 0.625rem 0rem; } }
    .header__item:last-child {
      margin: 0rem 0rem 0rem 0.625rem; }
      @media screen and (max-width: 768px) {
        .header__item:last-child {
          margin: 0.625rem 0rem 0rem 0rem; } }
  .header__item-ref {
    text-decoration: none;
    color: rgba(31, 32, 65, 0.5);
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    white-space: nowrap;
    letter-spacing: 0.005em; }
  .header__dropdown-arrow {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.25rem;
    color: rgba(31, 32, 65, 0.5); }
  .header__user-full-name {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    color: rgba(31, 32, 65, 0.5);
    white-space: nowrap; }
    .header__user-full-name:before {
      content: '';
      height: 1.875rem;
      width: 0.0625rem;
      background: transparent;
      border-left: 0.0625rem solid rgba(31, 32, 65, 0.1);
      padding-right: 1.25rem; }
    @media screen and (max-width: 550px) {
      .header__user-full-name {
        margin-top: 1.25rem; } }
  .header__buttons {
    display: flex; }
    @media screen and (max-width: 550px) {
      .header__buttons {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: min-content;
        margin-top: 1.25rem; } }
  .header__sign-in-button {
    width: 5.4375rem;
    height: 2.125rem;
    margin-right: 1.25rem; }
    @media screen and (max-width: 550px) {
      .header__sign-in-button {
        margin-right: 0rem;
        margin-bottom: 0.625rem; } }
  .header__sign-up-button {
    width: 12.25rem;
    height: 2.125rem; }
  .header__shopping-cart {
    margin-left: 1.25rem; }
    @media screen and (max-width: 1400px) {
      .header__shopping-cart {
        margin-left: 0rem; } }

.form-input {
  width: 100%; }
  .form-input__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.3125rem; }
  .form-input__title-text {
    font-weight: bold;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #1f2041; }
  .form-input__additional-title-text {
    font-size: 0.75rem;
    line-height: 0.65rem;
    text-align: right;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);
    letter-spacing: -0.0187rem; }
  .form-input__input-container {
    display: grid;
    grid-template-rows: 2.625rem;
    grid-template-columns: auto min-content;
    position: relative;
    border: 0.0625rem solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 0.25rem; }
    .form-input__input-container:hover, .form-input__input-container:focus {
      border: 0.0625rem solid rgba(31, 32, 65, 0.5); }
  .form-input__input {
    padding: 0rem 0.9375rem;
    outline: none;
    background: transparent;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: -0.0125rem;
    color: rgba(31, 32, 65, 0.75);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .form-input__input::-webkit-input-placeholder {
      background: rgba(31, 32, 65, 0.25);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      border: 0rem solid transparent; }
    .form-input__input:-webkit-autofill, .form-input__input:-webkit-autofill:hover, .form-input__input:-webkit-autofill:focus,
    .form-input__input textarea:-webkit-autofill,
    .form-input__input textarea:-webkit-autofill:hover,
    .form-input__input textarea:-webkit-autofill:focus,
    .form-input__input select:-webkit-autofill,
    .form-input__input select:-webkit-autofill:hover,
    .form-input__input select:-webkit-autofill:focus {
      border: 0rem solid rgba(255, 255, 255, 0);
      -webkit-text-fill-color: rgba(31, 32, 65, 0.75);
      -webkit-box-shadow: 0 0 0rem 62.5rem rgba(255, 255, 255, 0) inset;
      transition: background-color 5000s ease-in-out 0s;
      color: rgba(31, 32, 65, 0.75); }
  .form-input__submitter {
    cursor: pointer;
    min-width: 2.625rem;
    border: 0rem solid transparent;
    background: linear-gradient(to bottom, #bc9cff, #8ba4f9);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Material Icons;
    font-size: 1.5rem;
    line-height: 1.5rem; }

.radio {
  display: flex;
  flex-direction: column;
  width: max-content; }
  .radio__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.3125rem;
    font-weight: bold;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #1f2041; }
  .radio__inputs {
    display: flex;
    flex-direction: row; }
  .radio__label {
    cursor: pointer;
    display: flex;
    position: relative;
    margin-right: 1.25rem; }
    .radio__label:last-child {
      margin-right: 0rem; }
  .radio__button-image {
    z-index: 1;
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 0.625rem;
    border-radius: 50%; }
  .radio__input {
    cursor: pointer;
    z-index: 2;
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    opacity: 0; }
    .radio__input:checked + .radio__button-image {
      border: 0.0625rem solid #bc9cff; }
    .radio__input:checked + .radio__button-image::after {
      content: '';
      width: 0.75rem;
      height: 0.75rem;
      background: linear-gradient(to bottom, #bc9cff, #8ba4f9);
      border-radius: 50%; }
    .radio__input:not(:checked) + .radio__button-image {
      border: 0.0625rem solid rgba(31, 32, 65, 0.25); }
  .radio__text {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: rgba(31, 32, 65, 0.5); }

.create-form {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  box-shadow: 0rem 0.625rem 1.25rem rgba(31, 32, 65, 0.5);
  border-radius: 4px; }
  .create-form > div:nth-of-type(n) {
    margin-bottom: 1.25rem; }
  .create-form__price {
    display: grid;
    grid-template-columns: auto min-content; }
  .create-form__currency-type {
    justify-self: end;
    margin-left: 1.25rem; }
  .create-form__submit-button {
    width: 100%;
    height: 2.5rem;
    margin-top: 1.25rem; }

.create-button {
  position: relative; }
  .create-button__button-container {
    cursor: pointer;
    width: 100%;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border-radius: 0.25rem;
    /* &_opened {
      display: flex;
    } */ }
    .create-button__button-container:hover {
      background: linear-gradient(180deg, rgba(111, 207, 151, 0.5) 0%, rgba(102, 210, 234, 0.5) 100%); }
  .create-button__text {
    font-weight: bold;
    color: white; }
  .create-button__form {
    z-index: 99;
    width: 25rem;
    display: none;
    position: absolute;
    background: white; }
    .create-button__form_opened {
      display: block; }

.checkbox-list {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto; }
  .checkbox-list_type_expandable .checkbox-list__title {
    cursor: pointer;
    margin-bottom: 0.23rem; }
  .checkbox-list_type_expandable .checkbox-list__item {
    margin-bottom: 0.56rem; }
  .checkbox-list_type_expandable .checkbox-list__item-text {
    line-height: 1.34rem; }
  .checkbox-list_type_rich .checkbox-list__title {
    margin-bottom: 0.9rem; }
  .checkbox-list_type_rich .checkbox-list__item {
    margin-bottom: 0.665rem; }
  .checkbox-list__title {
    cursor: context-menu;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.04rem; }
  .checkbox-list__title-text {
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
    color: #1f2041;
    word-break: break-word; }
  .checkbox-list__dropdown-arrow {
    width: 2.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background: rgba(31, 32, 65, 0.75);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Material Icons;
    font-size: 1.5rem;
    line-height: 2.625rem;
    transform: rotate(180deg); }
    .checkbox-list__dropdown-arrow_closed {
      transform: none; }
  .checkbox-list__list {
    list-style: none;
    display: flex;
    flex-direction: column; }
    .checkbox-list__list_closed {
      display: none; }
  .checkbox-list__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.68rem; }
    .checkbox-list__item:last-child {
      margin-bottom: 0rem; }
  .checkbox-list__label {
    display: flex;
    align-items: end; }
  .checkbox-list__input {
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
    margin-right: 0.625rem;
    opacity: 0; }
    .checkbox-list__input:not(:checked) + .checkbox-list__check-mark {
      opacity: 0; }
    .checkbox-list__input:not(:checked) ~ .checkbox-list__frame {
      border: 0.0625rem solid #adb5bd; }
    .checkbox-list__input:checked + .checkbox-list__check-mark {
      opacity: 1; }
    .checkbox-list__input:checked ~ .checkbox-list__frame {
      border: 0.0625rem solid #bc9cff; }
  .checkbox-list__check-mark {
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-bottom: 0.125rem; }
  .checkbox-list__check-mark-image {
    width: 0.625rem;
    height: 0.625rem;
    display: flex; }
  .checkbox-list__frame {
    cursor: pointer;
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    border-radius: 0.25rem;
    position: absolute; }
  .checkbox-list__item-text {
    cursor: context-menu;
    width: 12.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.24rem;
    color: rgba(31, 32, 65, 0.5);
    word-break: break-word; }
    .checkbox-list__item-text_complex {
      width: max-content;
      font-weight: bold;
      color: rgba(31, 32, 65, 0.75); }
  .checkbox-list__item-additional-text {
    cursor: context-menu;
    width: 14.375rem;
    margin-left: 1.875rem;
    margin-top: 0.3125rem;
    font-size: 0.75rem;
    line-height: 0.875rem;
    color: rgba(31, 32, 65, 0.5);
    word-break: break-word; }

.sorter-form {
  width: 15.625rem; }

.update-form {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  box-shadow: 0rem 0.625rem 1.25rem rgba(31, 32, 65, 0.5);
  border-radius: 4px; }
  .update-form > div:nth-of-type(n) {
    margin-bottom: 1.25rem; }
  .update-form__price {
    display: grid;
    grid-template-columns: auto min-content; }
  .update-form__currency-type {
    justify-self: end;
    margin-left: 1.25rem; }
  .update-form__submit-button {
    width: 100%;
    height: 2.5rem;
    margin-top: 1.25rem; }

.update-button {
  position: relative; }
  .update-button__button-container {
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border-radius: 0.25rem;
    /*  &_opened {
      display: flex;
    } */ }
    .update-button__button-container:hover {
      background: linear-gradient(180deg, rgba(111, 207, 151, 0.5) 0%, rgba(102, 210, 234, 0.5) 100%); }
  .update-button__horizontal-part {
    width: 1.875rem;
    height: 0.5rem;
    position: absolute;
    background: white;
    border-radius: 0.125rem; }
  .update-button__vertical-part {
    width: 0.5rem;
    height: 1.875rem;
    position: absolute;
    background: white;
    border-radius: 0.125rem; }
  .update-button__form {
    z-index: 99;
    width: 25rem;
    display: none;
    position: absolute;
    background: white; }
    .update-button__form_opened {
      display: block; }

.delete-button {
  position: relative; }
  .delete-button__button-container {
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: linear-gradient(to bottom, #bc9cff, #8ba4f9);
    border-radius: 0.25rem; }
    .delete-button__button-container:hover {
      background: linear-gradient(to bottom, rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5)); }
  .delete-button__horizontal-part {
    width: 1.875rem;
    height: 0.5rem;
    position: absolute;
    background: white;
    border-radius: 0.125rem; }

.star-rating {
  width: 7.5rem;
  height: 1.5rem;
  display: flex;
  position: relative; }
  .star-rating__input {
    cursor: pointer;
    z-index: 2;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    opacity: 0; }
    .star-rating__input:nth-of-type(1) {
      margin-left: 6rem; }
    .star-rating__input:nth-of-type(2) {
      margin-left: 4.5rem; }
    .star-rating__input:nth-of-type(3) {
      margin-left: 3rem; }
    .star-rating__input:nth-of-type(4) {
      margin-left: 1.5rem; }
    .star-rating__input:nth-of-type(5) {
      margin-left: 0rem; }
    .star-rating__input + .star-rating__image::before {
      content: 'star_border';
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      align-items: center;
      text-align: center;
      position: absolute;
      background: linear-gradient(to bottom, #bc9cff, #8ba4f9);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Material Icons;
      font-size: 1.5rem;
      line-height: 1.25rem;
      color: linear-gradient(to bottom, #bc9cff, #8ba4f9); }
    .star-rating__input:checked ~ .star-rating__image::after {
      content: 'star';
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      align-items: center;
      text-align: center;
      position: absolute;
      background: linear-gradient(to bottom, #bc9cff, #8ba4f9);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Material Icons;
      font-size: 1.5rem;
      line-height: 1.25rem;
      color: linear-gradient(to bottom, #bc9cff, #8ba4f9); }
  .star-rating__image {
    z-index: 1;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; }
    .star-rating__image:nth-of-type(1) {
      margin-left: 6rem; }
    .star-rating__image:nth-of-type(2) {
      margin-left: 4.5rem; }
    .star-rating__image:nth-of-type(3) {
      margin-left: 3rem; }
    .star-rating__image:nth-of-type(4) {
      margin-left: 1.5rem; }
    .star-rating__image:nth-of-type(5) {
      margin-left: 0rem; }

/* @import '../star-rating/star-rating.scss'; */
.product-short-info {
  width: 16.875rem;
  display: flex;
  flex-direction: column;
  position: relative;
  background: white;
  box-shadow: 0rem 0.625rem 1.25rem rgba(31, 32, 65, 0.05);
  border-radius: 0.25rem; }
  .product-short-info__ref {
    z-index: 3;
    width: 16.875rem;
    height: 5.3875rem;
    position: absolute;
    bottom: 0rem;
    opacity: 0; }
  .product-short-info__photos {
    z-index: 2;
    width: 16.875rem;
    height: 9.4375rem;
    display: flex;
    align-items: center;
    position: relative; }
  .product-short-info__photo {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; }
    .product-short-info__photo_current {
      opacity: 1; }
  .product-short-info__arrows {
    z-index: 3;
    width: 16.875rem;
    height: 9.4375rem;
    display: flex;
    justify-content: space-between; }
  .product-short-info__arrow-back {
    cursor: pointer;
    min-width: 2.75rem;
    height: 9.4375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: transparent;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
    border-top-left-radius: 0.25rem; }
  .product-short-info__arrow-back-icon {
    transform: rotate(90deg);
    font-family: Material Icons;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    color: white; }
  .product-short-info__arrow-forward {
    cursor: pointer;
    min-width: 2.75rem;
    height: 9.4375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: transparent;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
    border-top-left-radius: 0.25rem;
    transform: matrix(-1, 0, 0, 1, 0, 0); }
  .product-short-info__arrow-forward-icon {
    transform: rotate(90deg);
    font-family: Material Icons;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    color: white; }
  .product-short-info__radio-buttons {
    z-index: 2;
    display: flex;
    position: absolute;
    right: 0.9375rem;
    bottom: 0.9375rem; }
  .product-short-info__radio-button {
    width: 0.5rem;
    height: 0.5rem;
    margin-left: 0.2rem; }
    .product-short-info__radio-button_checked .product-short-info__radio-button-image {
      background: white; }
  .product-short-info__radio-button-image {
    width: inherit;
    height: inherit;
    position: absolute;
    border-radius: 50%;
    border: 0.0625rem solid white;
    box-shadow: 0rem 0.3125rem 0.3125rem rgba(31, 32, 65, 0.3); }
  .product-short-info__text-info {
    z-index: 1;
    padding: 0.9375rem 1rem 1.1875rem 1.25rem; }
  .product-short-info__title {
    display: grid;
    grid-template-columns: auto max-content;
    grid-template-rows: auto auto;
    margin-top: 0.1875rem;
    margin-bottom: 0.75rem; }
  .product-short-info__name {
    align-self: end;
    margin-bottom: 0.625rem;
    font-family: Quicksand, OpenSans, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.1875rem;
    line-height: 1.5rem;
    color: #1f2041;
    word-break: break-word; }
  .product-short-info__price-number {
    justify-self: end;
    align-self: end;
    margin-right: 0.25rem;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 0.9375rem;
    color: rgba(31, 32, 65, 0.5);
    max-width: 6.125rem;
    min-width: 2.5rem;
    word-break: break-word; }
  .product-short-info__packaging-type {
    justify-self: end;
    align-self: end;
    margin-right: 0.0625rem;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    color: rgba(31, 32, 65, 0.5);
    word-break: break-word; }
  .product-short-info__rate {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
    border-top: 0.0625rem solid rgba(31, 32, 65, 0.1); }
  .product-short-info__star-rating {
    width: max-content; }
  .product-short-info__reviews-count {
    max-width: 6.875rem;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-bottom: 0.1875rem;
    padding-right: 0.25rem; }
  .product-short-info__reviews-count-value {
    margin-right: 0.1875rem;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-align: right;
    color: rgba(31, 32, 65, 0.5);
    text-align: start;
    word-break: break-word; }
  .product-short-info__reviews-count-text {
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-align: right;
    color: rgba(31, 32, 65, 0.5); }
  .product-short-info__buttons {
    position: absolute;
    left: 16.875rem;
    display: flex;
    flex-direction: column; }
  .product-short-info__update-button {
    position: absolute; }
  .product-short-info__delete-button {
    position: absolute;
    top: 3.75rem; }

.pagination {
  display: flex;
  flex-direction: column; }
  .pagination__title {
    margin-bottom: 1rem;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
    color: #1f2041; }
  .pagination__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: transparent; }
  .pagination__left-arrow, .pagination__right-arrow, .pagination__link {
    width: 2.5rem;
    height: 2.5rem;
    text-decoration: none; }
  .pagination__link_target {
    background: linear-gradient(to bottom, #bc9cff, #8ba4f9);
    border-radius: 50%; }
    .pagination__link_target > .pagination__link-text {
      color: white; }
  .pagination__left-arrow, .pagination__right-arrow {
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border-radius: 50%; }
  .pagination__left-arrow-text, .pagination__right-arrow-text {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.25rem;
    color: white; }
  .pagination__left-arrow-text {
    transform: rotate(180deg); }
  .pagination__link-text {
    width: inherit;
    height: inherit;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    color: rgba(31, 32, 65, 0.5); }
    .pagination__link-text:hover {
      width: inherit;
      height: inherit;
      border-radius: 50%;
      background: linear-gradient(to bottom, rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5)); }
  .pagination__bottom-text {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-top: 0.4375rem;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: rgba(31, 32, 65, 0.75); }

.products-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2.275rem 5%; }
  @media screen and (max-width: 670px) {
    .products-list {
      flex-direction: column;
      align-items: center; } }
  .products-list__filters-and-sorters {
    width: 15.625rem; }
    @media screen and (max-width: 670px) {
      .products-list__filters-and-sorters {
        margin-bottom: 3.125rem; } }
  .products-list__create-button {
    width: 100%;
    margin-bottom: 0.625rem; }
  .products-list__list {
    display: flex;
    flex-direction: column; }
  .products-list__products {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center; }
    @media screen and (max-width: 1440px) {
      .products-list__products {
        grid-template-columns: auto auto; } }
    @media screen and (max-width: 1090px) {
      .products-list__products {
        grid-template-columns: 20rem; } }
  .products-list__item {
    margin-bottom: 1.25rem;
    margin-right: 4.375rem; }
    .products-list__item:last-of-type {
      margin-bottom: 0rem; }
  .products-list__pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2.5rem 0rem; }

.product-details__name {
  color: #1f2041; }

.footer {
  width: 100%;
  height: 6.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .footer__test-text {
    white-space: nowrap;
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-style: normal;
    font-weight: bold;
    color: #161636; }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.woff2) format("woff2"), url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.woff) format("woff"), url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.ttf) format("truetype"); }

@font-face {
  font-family: 'Montserrat';
  src: url(src/assets/fonts/Montserrat/montserrat-regular.woff), url(src/assets/fonts/Montserrat/montserrat-regular.woff2), url(src/assets/fonts/Montserrat/montserrat-regular.eot), url(src/assets/fonts/Montserrat/montserrat-regular.ttf), url(src/assets/fonts/Montserrat/montserrat-regular.svg);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url(src/assets/fonts/Montserrat/montserrat-bold.woff), url(src/assets/fonts/Montserrat/montserrat-bold.woff2), url(src/assets/fonts/Montserrat/montserrat-bold.eot), url(src/assets/fonts/Montserrat/montserrat-bold.ttf), url(src/assets/fonts/Montserrat/montserrat-bold.svg);
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Quicksand';
  src: url(src/assets/fonts/Quicksand/quicksand-regular.woff), url(src/assets/fonts/Quicksand/quicksand-regular.woff2), url(src/assets/fonts/Quicksand/quicksand-regular.eot), url(src/assets/fonts/Quicksand/quicksand-regular.ttf), url(src/assets/fonts/Quicksand/quicksand-regular.svg);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Quicksand';
  src: url(src/assets/fonts/Quicksand/quicksand-bold.woff), url(src/assets/fonts/Quicksand/quicksand-bold.woff2), url(src/assets/fonts/Quicksand/quicksand-bold.eot), url(src/assets/fonts/Quicksand/quicksand-bold.ttf), url(src/assets/fonts/Quicksand/quicksand-bold.svg);
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url(src/assets/fonts/OpenSans/open-sans-regular.woff), url(src/assets/fonts/OpenSans/open-sans-regular.woff2), url(src/assets/fonts/OpenSans/open-sans-regular.eot), url(src/assets/fonts/OpenSans/open-sans-regular.ttf), url(src/assets/fonts/OpenSans/open-sans-regular.svg);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url(src/assets/fonts/OpenSans/open-sans-bold.woff), url(src/assets/fonts/OpenSans/open-sans-bold.woff2), url(src/assets/fonts/OpenSans/open-sans-bold.eot), url(src/assets/fonts/OpenSans/open-sans-bold.ttf), url(src/assets/fonts/OpenSans/open-sans-bold.svg);
  font-weight: bold;
  font-style: normal; }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
  font-family: Montserrat, Arial, sans-serif; }

html {
  background: #ebe9f1;
  font-size: 16px; }

html,
body {
  min-width: 100%; }

.app__navigation {
  font-weight: bold; }

