.update-form {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  box-shadow: 0rem 0.625rem 1.25rem rgba(31, 32, 65, 0.5);
  border-radius: 4px;

  & > div:nth-of-type(n) {
    margin-bottom: 1.25rem;
  }

  &__price {
    display: grid;
    grid-template-columns: auto min-content;
  }

  &__currency-type {
    justify-self: end;
    margin-left: 1.25rem;
  }

  &__submit-button {
    width: 100%;
    height: 2.5rem;
    margin-top: 1.25rem;
  }
}
