@model MovieAggregator.Models.IdentityInfrastructure.CreateModel

@{
    ViewBag.Title = "Создание пользователя";
}

@Html.ValidationSummary(false)
@using (Html.BeginForm())
{
    <div>
        <label>Имя</label>
        <input type="text" name="Name" />
    </div>
    <div>
        <label>Email</label>
        <input type="text" name="Email" />
    </div>

    <div>
        <label>Пароль</label>
        <input type="password" name="Password" />
    </div>
    <button type="submit">Создать</button>

    @Html.ActionLink("Отмена", "Index")
}