* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    width: 100%;
}

body {
    background: #29223e;
    display: flex;
    flex-flow: column;
    color: white;
}

#wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    width: 100%;
    padding: 30px 0px;
    text-align: center;
}
    #header a {
        margin: 20px 0px;
        text-decoration: none;
        border: 1px solid #d8b440;
        border-radius: 5px;
        background: #d8b440;
    }


#content {
    width: 100%;
    display: flex;
}

    #content #column1, #column3 {
        width: 20%;
        padding: 20px;
    }

    #content #column2 {
        width: 60%;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

        #content #column2 #createMovieBlockButton {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }
        #content #column2 #createMovieBlockButton button {
            background: #d8b440;
            height: 30px;
            border-radius: 5px;
        }
            #content #column2 #createMovieBlockButton button p {
                color: #29223e;
            }

        #content #column2 #moviesContainer {
            display: flex;
            flex-direction: column;
        }
            #content #column2 #moviesContainer .movieBlock {
                padding: 20px 10px;
                border: 1px solid #d8b440;
                border-radius: 5px;
            }
                #content #column2 #moviesContainer .movieBlock:nth-child(n+2) {
                    margin-top: 20px;
                }
                #content #column2 #moviesContainer .movieBlock p {
                    margin-top: 10px;
                }
                #content #column2 #moviesContainer .movieBlock button {
                    background: #d8b440;
                    margin-top: 10px;
                    border-radius: 5px;
                }
                    #content #column2 #moviesContainer .movieBlock button p {
                        margin: 0px;
                        color: #29223e;
                    }

        #content #column2 #pagination {
            display: flex;
            margin-top: 10px;
        }
            #content #column2 #pagination ul {
                display: flex;
                list-style: none;
                justify-content: center;
                flex-wrap: wrap;
            }
                #content #column2 #pagination ul li {
                    display: flex;
                    justify-content: center;
                    width: 30px;
                    border: 1px solid #d8b440;
                    margin: 0px 5px;
                    border-radius: 5px;
                }
                    #content #column2 #pagination ul li a {
                        color: #d8b440;
                        text-align: center;
                        text-decoration: none;
                    }


        #content #column2 #createMovieBlockForm, #editMovieBlockForm {
            border: 1px solid #d8b440;
            border-radius: 5px;
            padding: 10px 20px;
        }
            #content #column2 #createMovieBlockForm lable, #editMovieBlockForm lable {
            }
            #content #column2 #createMovieBlockForm input, #editMovieBlockForm input {
                height: 25px;
                padding-left: 10px;
                margin-bottom: 20px;
            }
            #content #column2 #createMovieBlockForm #submit, #editMovieBlockForm #submit {
                margin-top: 20px;
                background: #d8b440;
                border-radius: 5px;
            }
            #content #column2 #createMovieBlockForm textarea, #editMovieBlockForm textarea {
                height: 200px;
                padding: 10px;
                resize: none;
            }


        #footer {
            width: 100%;
            padding: 30px 0px;
            text-align: center;
        }


/*#29223e - back*/
/*#d8b440*/