* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    width: 100%;
}

body {
    background: #29223e;
    color: white;
}

#wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    width: 100%;
    padding: 30px 0px;
    text-align: center;
    display: flex;
    justify-content: end;
    flex-direction: row;
}
    #header #menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 20px;
    }
        #header #menu #mainPage {
            text-decoration: none;
            border: 1px solid #d8b440;
            border-radius: 5px;
            background: #d8b440;
            width: 10%;
            height: 30px;
        }
        #header #menu ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 30%;
        }
            #header #menu ul li {
                width: 30%;
            }
                #header #menu ul li button {
                    height: 30px;
                    border-radius: 5px;
                }


#content {
    width: 100%;
    display: flex;
}

    #content #column1, #column3 {
        width: 20%;
        padding: 20px;
    }

    #content #column2 {
        width: 60%;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

        #content #column2 #createMovieBlockButton {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }
        #content #column2 #createMovieBlockButton button {
            background: #d8b440;
            height: 30px;
            border-radius: 5px;
        }
            #content #column2 #createMovieBlockButton button p {
                color: #29223e;
            }

        #content #column2 #moviesContainer {
            display: flex;
            flex-direction: column;
        }
            #content #column2 #moviesContainer .movieBlock {
                padding: 20px 10px;
                border: 1px solid #d8b440;
                border-radius: 5px;
            }
                #content #column2 #moviesContainer .movieBlock:nth-child(n+2) {
                    margin-top: 20px;
                }
                #content #column2 #moviesContainer .movieBlock p {
                    margin-top: 10px;
                }
                #content #column2 #moviesContainer .movieBlock button {
                    background: #d8b440;
                    margin-top: 10px;
                    border-radius: 5px;
                }
                    #content #column2 #moviesContainer .movieBlock button p {
                        margin: 0px;
                        color: #29223e;
                    }

        #content #column2 #pagination {
            display: flex;
            margin-top: 10px;
        }
            #content #column2 #pagination ul {
                display: flex;
                list-style: none;
                justify-content: center;
                flex-wrap: wrap;
            }
                #content #column2 #pagination ul li {
                    display: flex;
                    justify-content: center;
                    width: 30px;
                    border: 1px solid #d8b440;
                    margin: 0px 5px;
                    border-radius: 5px;
                }
                    #content #column2 #pagination ul li a {
                        color: #d8b440;
                        text-align: center;
                        text-decoration: none;
                    }


        #content #column2 #createMovieBlockForm, #editMovieBlockForm {
            border: 1px solid #d8b440;
            border-radius: 5px;
            padding: 10px 20px;
        }
            #content #column2 #createMovieBlockForm lable, #editMovieBlockForm lable {
            }
            #content #column2 #createMovieBlockForm input, #editMovieBlockForm input {
                height: 25px;
                padding-left: 10px;
                margin-bottom: 20px;
            }
            #content #column2 #createMovieBlockForm #submit, #editMovieBlockForm #submit {
                margin-top: 20px;
                background: #d8b440;
                border-radius: 5px;
            }
            #content #column2 #createMovieBlockForm textarea, #editMovieBlockForm textarea {
                height: 200px;
                padding: 10px;
                resize: none;
            }


        #footer {
            width: 100%;
            padding: 30px 0px;
            text-align: center;
        }




#signIn {
    z-index: 999;
    width: auto;
    /*display: flex;*/
    background: #221f2a;
    position: absolute;
    top: 20%;
    /*bottom: 20%;*/
    right: 30%;
    left: 30%;
    padding: 30px 50px;
    border: 2px solid #dc9607;
    border-radius: 5px;
    color: #dc9607;

    display: none;
}
    #signIn form input {
        padding: 5px 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 2px solid #dc9607;
        background: #d9c581;
    }
    #signIn form input:last-child {
        margin-top: 20px;
    }


/*#29223e - back*/
/*#d8b440*/