* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    width: 100%;
}
body {
    background: #29223e;
    display: flex;
    flex-flow:column;
    color: white;
}
#targetWrap, #wrap {
    width: 100%;
    dispaly: flex;
    flex-direction: column;
}

#header {
    width: 100%;
    padding: 100px 0px;
    text-align: center;
}



#content {
    width: 100%;
    display: flex;
}
    #content #column1, #column3 {
        width: 20%;
        padding: 20px;
    }
    #content #column2 {
        width: 60%;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
        #content #column2 .movieBlock {
            padding: 20px 10px;
            border: 1px solid #8e673c;
        }
        #content #column2 .movieBlock:nth-child(n+2) {
            margin-top: 20px;
        }
            #content #column2 .movieBlock p{
                margin-top: 10px;
            }



            #footer {
                width: 100%;
                padding: 100px 0px;
                text-align: center;
            }

