.sign-up-form {
  width: 18.75rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0rem;
  left: 0rem;
  top: 0rem;
  margin: 3.125rem auto;
  padding: 1.25rem;
  box-shadow: 0rem 0.625rem 1.25rem rgba(31, 32, 65, 0.5);
  border-radius: 0.25rem;
  background: white;

  &_hidden {
    display: none;
  }

  & > div:nth-of-type(n) {
    margin-bottom: 1.25rem;
  }

  &__submit-button {
    width: 100%;
    height: 2.5rem;
    margin-top: 1.25rem;
  }
}
