.products-list {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  justify-content: space-around;
  padding-top: 1.875rem;

  &__filters-and-sorters {
    width: 15.625rem;
  }

  &__create-button {
    width: 100%;
    margin-bottom: 0.625rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__products {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
  }

  &__item {
    margin-bottom: 1.25rem;
    margin-right: 4.375rem;

    &:last-of-type {
      margin-bottom: 0rem;
    }
  }

  &__pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2.5rem 0rem;
  }
}
