* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    width: 100%;
}

body {
        background: #29223e;
        color: white;
    }

#wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    width: 100%;
    padding: 30px 0px;
    text-align: center;
    display: flex;
    justify-content: end;
    flex-direction: row;
}
    #header #menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 20px;
    }
        #header #menu p {
            color: black;
        }
        #header #menu #mainPage {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-decoration: none;
            text-align: center;
            border: 1px solid #d8b440;
            border-radius: 5px;
            background: #d8b440;
            width: 10%;
            height: 30px;
        }
            #header #menu #mainPage:hover {
                background: #cc7a16;
            }

            #header #menu ul {
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 30%;
            }
            #header #menu ul li {
                width: 30%;
            }
                #header #menu ul li a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-decoration: none;
                    text-align: center;
                    background: #c5b1ca;
                    height: 30px;
                    border-radius: 5px;
                }
                    #header #menu ul li a:hover {
                        background: #79619d;
                    }


                    #content {
                        width: 100%;
                        display: flex;
                    }

    #content #column1, #column3 {
        width: 20%;
        padding: 20px;
    }

    #content #column2 {
        width: 60%;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

        #content #column2 #createMovieBlockButton {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }
            #content #column2 #createMovieBlockButton a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-decoration: none;
                text-align: center;
                background: #d8b440;
                height: 30px;
                border-radius: 5px;
                transition: background 0.3s, height 0.3s;
            }
                #content #column2 #createMovieBlockButton a:hover {
                    background: #cc7a16;
                    height: 40px;
                }
            #content #column2 #createMovieBlockButton a p {
                color: #29223e;
            }

        #content #column2 #moviesContainer {
            display: flex;
            flex-direction: column;
        }
            #content #column2 .movieBlock {
                padding: 20px 15px;
                border: 1px solid #d8b440;
                border-radius: 5px;
            }
                #content #column2 .movieBlock:nth-child(n+2) {
                    margin-top: 20px;
                }
                #content #column2 .movieBlock img {
                    width: 30%;
                    float: left;
                    margin-right: 10px;
                    border: 2px solid #d8b440;
                    border-radius: 5px;
                }
                #content #column2 .movieBlock p {
                    margin-top: 10px;
                }
                #content #column2 .movieBlock h1 {
                    color: #d8b440;
                }
                #content #column2 .movieBlock a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-decoration: none;
                    text-align: center;
                    background: #d8b440;
                    margin-top: 10px;
                    border-radius: 5px;
                    height: 20px;
                    transition: background 0.3s, height 0.3s;
                }
                    #content #column2 .movieBlock a:hover {
                        background: #cc7a16;
                        height: 30px;
                    }
                    #content #column2 .movieBlock a:nth-of-type(1) {
                        margin-top: 0px;
                    }
                    #content #column2 .movieBlock a:nth-of-type(2) {
                        margin-bottom: 20px;
                    }
                    #content #column2 .movieBlock a:last-of-type {
                        margin-top: 20px;
                    }
                    #content #column2 .movieBlock a p {
                        margin: 0px;
                        color: #29223e;
                    }

                #content #column2 .movieBlock .mainInformationBlock {

                }
                #content #column2 .movieBlock .additionalInformationBlock {
                    margin-top: 20px;
                    clear: both
                }
                    #content #column2 .movieBlock .additionalInformationBlock h1 {
                        font-size: 120%;
                        color: #d8b440;
                    }
                    #content #column2 .movieBlock .additionalInformationBlock p {
                        margin: 0px 15px;
                    }

        #content #column2 #pagination {
            display: flex;
            margin-top: 10px;
        }
            #content #column2 #pagination ul {
                display: flex;
                list-style: none;
                justify-content: center;
                flex-wrap: wrap;
            }
                #content #column2 #pagination ul li {
                    display: flex;
                    justify-content: center;
                    width: 30px;
                    height: 30px;
                    border: 1px solid #d8b440;
                    margin: 0px 5px;
                    border-radius: 3px;
                    transition: width 0.3s, height 0.3s;
                }
                    #content #column2 #pagination ul li:hover {
                        width: 40px;
                        height: 40px;
                    }
                    #content #column2 #pagination ul li a {
                        color: #d8b440;
                        text-align: center;
                        text-decoration: none;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        transition: background 0.3s, color 0.3s;
                    }
                        #content #column2 #pagination ul li a:hover {
                            background: #eebb60;
                            color: #29223e;
                        }



                        #createMovieBlockForm, #editMovieBlockForm {
                            border: 1px solid #d8b440;
                            border-radius: 5px;
                            padding: 10px 20px;
                        }
            #createMovieBlockForm lable, #editMovieBlockForm lable {
            }
            #createMovieBlockForm > input, #editMovieBlockForm > input {
                height: 25px;
                padding-left: 10px;
                margin-bottom: 20px;
            }
            #createMovieBlockForm #submit, #editMovieBlockForm #submit {
                margin-top: 20px;
                background: #d8b440;
                border-radius: 5px;
            }
            #createMovieBlockForm textarea, #editMovieBlockForm textarea {
                height: 200px;
                padding: 10px;
                resize: none;
            }
            #createMovieBlockForm ul, #editMovieBlockForm ul {
                list-style: none;
            }
                #createMovieBlockForm ul li, #editMovieBlockForm ul li {
                    display: flex;
                }
                    #createMovieBlockForm ul li input, #editMovieBlockForm ul li input {
                        margin: 0px;
                        height: 15px;
                        width: 10%;
                    }
            #createMovieBlockForm > p, #editMovieBlockForm > p {
                margin-top: 15px;
            }


        #footer {
            width: 100%;
            padding: 30px 0px;
            text-align: center;
        }




#signIn {
    z-index: 999;
    width: auto;
    /*display: flex;*/
    background: #221f2a;
    position: absolute;
    top: 20%;
    /*bottom: 20%;*/
    right: 30%;
    left: 30%;
    padding: 30px 50px;
    border: 2px solid #dc9607;
    border-radius: 5px;
    color: #dc9607;

    display: none;
}
    #signIn form input, #signIn form button {
        padding: 5px 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 2px solid #dc9607;
        background: #d9c581;
    }
    #signIn form input:last-child {
        margin-top: 20px;
    }



.clearfix:after { /*растягиватель внешнего блока под внутренний float блок*/
    content: "."; /* добавить содержимое: "." */
    display: block; /* сделать блоком, т.к. inline не может иметь clear */
    clear: both; /* с обеих сторон clear */
    visibility: hidden; /* сделать невидимым, зачем нам точка внизу? */
    height: 0; /* сделать высоту 0, чтобы не занимал место */
}
/*#29223e - back*/
/*#d8b440*/
