.colored-logo {
  height: 40rem;
  display: flex;
  align-items: center;
  justify-self: end; }
  .colored-logo__logo-symbol {
    margin-right: 12.5rem; }

.button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 22rem;
  background: linear-gradient(to bottom, #bc9cff, #8ba4f9); }
  .button__basis {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0rem;
    right: 0rem;
    top: 0rem;
    bottom: 0rem;
    margin: 2rem;
    color: white;
    background: transparent;
    text-decoration: none;
    border-radius: 22rem;
    outline: none; }
  .button > button {
    width: -webkit-fill-available; }
  .button__text {
    cursor: pointer;
    background: transparent;
    text-align: center;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 12rem;
    line-height: 15rem;
    text-transform: uppercase; }
  .button__arrow {
    cursor: pointer;
    width: 44rem;
    position: absolute;
    right: 0rem;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24rem;
    line-height: 24rem;
    text-align: center; }
  .button__submit {
    cursor: pointer;
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
    z-index: 2; }
  .button:hover {
    background: linear-gradient(to bottom, rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5)); }
  .button_hollow > .button__basis {
    background: white; }
    .button_hollow > .button__basis > .button__text,
    .button_hollow > .button__basis > .button__arrow {
      color: #bc9cff; }

/* @import '../colored-logo/colored-logo.scss';
@import '../button/button.scss'; */
.header {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: min-content auto min-content;
  align-items: center;
  justify-items: start;
  padding: 15rem 9.72222%;
  background: white;
  box-shadow: 0rem 10rem 20rem rgba(31, 32, 65, 0.05); }
  @media screen and (max-width: 1150px) and (min-width: 768px) {
    .header {
      display: grid;
      grid-template-columns: min-content auto;
      grid-template-rows: auto auto; } }
  @media screen and (max-width: 768px) {
    .header {
      display: grid;
      grid-template-columns: min-content auto;
      grid-template-rows: min-content auto; } }
  @media screen and (max-width: 550px) {
    .header {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: min-content min-content min-content;
      justify-content: flex-start; } }
  @media screen and (max-width: 768px) {
    .header__colored-logo {
      justify-self: flex-start; } }
  .header__navigation-menu {
    justify-self: end;
    margin-right: 20rem; }
    @media screen and (max-width: 1150px) and (min-width: 768px) {
      .header__navigation-menu {
        order: 2;
        margin-right: 0rem;
        margin-top: 20rem;
        grid-column-start: 2;
        grid-column-end: 3; } }
    @media screen and (max-width: 768px) {
      .header__navigation-menu {
        order: 2;
        margin-right: 0rem;
        margin-top: 20rem;
        margin-left: 5rem;
        display: flex;
        flex-direction: column; } }
    @media screen and (max-width: 550px) {
      .header__navigation-menu {
        justify-self: flex-start; } }
  .header__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .header__list {
        display: flex;
        flex-direction: column; } }
  .header__item {
    display: flex;
    align-items: center;
    margin: 0rem 10rem; }
    @media screen and (max-width: 768px) {
      .header__item {
        margin: 10rem 0rem; } }
    .header__item:first-child {
      margin: 0rem 10rem 0rem 0rem; }
      .header__item:first-child .header__item-ref {
        color: rgba(31, 32, 65, 0.75);
        font-weight: bold; }
      @media screen and (max-width: 768px) {
        .header__item:first-child {
          margin: 0rem 0rem 10rem 0rem; } }
    .header__item:last-child {
      margin: 0rem 0rem 0rem 10rem; }
      @media screen and (max-width: 768px) {
        .header__item:last-child {
          margin: 10rem 0rem 0rem 0rem; } }
  .header__item-ref {
    text-decoration: none;
    color: rgba(31, 32, 65, 0.5);
    font-style: normal;
    font-weight: normal;
    font-size: 14rem;
    line-height: 17rem;
    white-space: nowrap;
    letter-spacing: 0.005em; }
  .header__dropdown-arrow {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24rem;
    line-height: 20rem;
    color: rgba(31, 32, 65, 0.5); }
  .header__user-full-name {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14rem;
    line-height: 17rem;
    color: rgba(31, 32, 65, 0.5);
    white-space: nowrap; }
    .header__user-full-name:before {
      content: '';
      height: 30rem;
      width: 1rem;
      background: transparent;
      border-left: 1rem solid rgba(31, 32, 65, 0.1);
      padding-right: 20rem; }
    @media screen and (max-width: 1150px) and (min-width: 768px) {
      .header__user-full-name {
        order: 1;
        justify-self: end; } }
    @media screen and (max-width: 768px) {
      .header__user-full-name {
        order: 1;
        justify-self: end; } }
    @media screen and (max-width: 550px) {
      .header__user-full-name {
        margin-top: 20rem; } }
  .header__buttons {
    display: flex; }
    @media screen and (max-width: 1150px) and (min-width: 768px) {
      .header__buttons {
        order: 1;
        justify-self: end; } }
    @media screen and (max-width: 768px) {
      .header__buttons {
        order: 1;
        justify-self: end; } }
    @media screen and (max-width: 550px) {
      .header__buttons {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: min-content;
        margin-top: 20rem; } }
  .header__sign-in-button {
    width: 87rem;
    height: 34rem;
    margin-right: 20rem; }
    @media screen and (max-width: 550px) {
      .header__sign-in-button {
        margin-right: 0rem;
        margin-bottom: 10rem; } }
  .header__sign-up-button {
    width: 196rem;
    height: 34rem; }

.footer {
  width: 100%;
  height: 100rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .footer__test-text {
    white-space: nowrap;
    font-size: 20rem;
    line-height: 20rem;
    font-style: normal;
    font-weight: bold;
    color: #161636; }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.woff2) format("woff2"), url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.woff) format("woff"), url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.ttf) format("truetype"); }

@font-face {
  font-family: 'Montserrat';
  src: url(src/assets/fonts/Montserrat/montserrat-regular.woff), url(src/assets/fonts/Montserrat/montserrat-regular.woff2), url(src/assets/fonts/Montserrat/montserrat-regular.eot), url(src/assets/fonts/Montserrat/montserrat-regular.ttf), url(src/assets/fonts/Montserrat/montserrat-regular.svg);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url(src/assets/fonts/Montserrat/montserrat-bold.woff), url(src/assets/fonts/Montserrat/montserrat-bold.woff2), url(src/assets/fonts/Montserrat/montserrat-bold.eot), url(src/assets/fonts/Montserrat/montserrat-bold.ttf), url(src/assets/fonts/Montserrat/montserrat-bold.svg);
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Quicksand';
  src: url(src/assets/fonts/Quicksand/quicksand-regular.woff), url(src/assets/fonts/Quicksand/quicksand-regular.woff2), url(src/assets/fonts/Quicksand/quicksand-regular.eot), url(src/assets/fonts/Quicksand/quicksand-regular.ttf), url(src/assets/fonts/Quicksand/quicksand-regular.svg);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Quicksand';
  src: url(src/assets/fonts/Quicksand/quicksand-bold.woff), url(src/assets/fonts/Quicksand/quicksand-bold.woff2), url(src/assets/fonts/Quicksand/quicksand-bold.eot), url(src/assets/fonts/Quicksand/quicksand-bold.ttf), url(src/assets/fonts/Quicksand/quicksand-bold.svg);
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url(src/assets/fonts/OpenSans/open-sans-regular.woff), url(src/assets/fonts/OpenSans/open-sans-regular.woff2), url(src/assets/fonts/OpenSans/open-sans-regular.eot), url(src/assets/fonts/OpenSans/open-sans-regular.ttf), url(src/assets/fonts/OpenSans/open-sans-regular.svg);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url(src/assets/fonts/OpenSans/open-sans-bold.woff), url(src/assets/fonts/OpenSans/open-sans-bold.woff2), url(src/assets/fonts/OpenSans/open-sans-bold.eot), url(src/assets/fonts/OpenSans/open-sans-bold.ttf), url(src/assets/fonts/OpenSans/open-sans-bold.svg);
  font-weight: bold;
  font-style: normal; }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
  font-family: Montserrat, Arial, monospace; }

html {
  background: #cdc7df;
  font-size: 1px; }

html,
body {
  min-width: 100%; }

