@import '../../assets/constants.scss';

.delete-button {
  position: relative;

  &__button-container {
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: $gradient-purple-to-blue;
    border-radius: 0.25rem;

    &:hover {
      background: $gradient-purple-to-blue-50;
    }
  }

  &__horizontal-part {
    width: 1.875rem;
    height: 0.5rem;
    position: absolute;
    background: white;
    border-radius: 0.125rem;
  }
}
