@{
    Layout = null;
    ViewBag.Title = "Home Page";
}
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        @*<link href="~/Content/PagesStyles/Index.css" rel="stylesheet" />*@
        <link href="~/Content/PagesStyles/AdminPanel.css" rel="stylesheet" />
    </head>
    <body>
        <div id="wrap"></div>

        <!-- Подгрузка реакт скриптов -->
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
        <!-- Подгрузка скрипта бабеля для компиляции JSX-->
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>


        <script type="text/babel" src="~/Scripts/Components/CentralColumn.js">
        </script>
        <script type="text/babel" src="~/Scripts/Components/Content.js">
        </script>
        <script type="text/babel" src="~/Scripts/Components/Header.js">
        </script>
        <script type="text/babel" src="~/Scripts/Components/Footer.js">
        </script>

        <script type="text/babel" src="~/Scripts/Components/Base.js">
        </script>

    </body>