@import '../../assets/fonts.scss';

*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: Montserrat, Arial, sans-serif;
}

html {
    background: rgb(235, 233, 241);
    font-size: 16px;
}

html,
body {
    min-width: 100%;
}
